## Marketing Strategy Analysis
#### Programming Script and Technical Report

### Table of Content
1. Introduction
2. Data Loading and Quality 
3. Feature Additions and Engineering
4. Exploratory Data Analysis and Statistical Analysis
5. Final Recommendations (Optimal Sales)

### 1. Introduction

- What is the impact of each marketing strategy and sales visit on Sales (Amount Collected)?
- Is the same strategy valid for all the different client types ?

### 2. Data Loading and Quality Checks

In [1]:
# !pip install pandas
# !pip install numpy
# !pip install seaborn
# !pip install scipy
# !pip install Jinja2
# !pip install statsmodels
# !pip install lxml

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [3]:
df = pd.read_csv('Campaign-Data.csv')
df.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition'],
      dtype='object')

In [4]:
df.head()

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low

### 3. Feature Additions and Engineering

In [5]:
## Creation of Additional Features 
df['Calendardate'] = pd.to_datetime(df['Calendardate'], dayfirst=True)
df['Month'] = df['Calendardate'].dt.month
df['Year'] = df['Calendardate'].dt.year

### 4. Exploratory Data Analysis and Statistical Analysis
We can have a detailed exploration that can be added to this section, but since we only need to answer three questions:

<b> 4.1 Exploring and Understanding basics data </b>

1. Distribution of Data across different accounts
2. Difference of Sales in Account Types (Using Categorical Mean)

<b> 4.2 Statistical Analysis - Answering the Questions</b>
1. Impact of Marketing Strategy on Sales (Using Correlation, Regression and Decision Tree)
2. Impact of Competition on Sales
3. How different types of client can have different strategies (Broken down Question 1 and Question 2 based on Account Type)

### 4.2 Impact of Marketing Strategy on Sales

#### Understanding of distrubtions

In [6]:
df['Client Type'].value_counts(normalize=True)

Client Type
Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: proportion, dtype: float64

In [7]:
pd.crosstab(df['Number of Competition'], df['Client Type'], normalize=True)

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility
Number of Competition,,,,
High,0.076613,0.028226,0.014785,0.047043
Low,0.383065,0.141129,0.073925,0.235215

In [8]:
df.groupby('Number of Competition')[['Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].mean()

,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5
Number of Competition,,,,,,,,,,,,,,
High,1456.935484,75.080645,1003.0,2015-10-31 18:00:00,2.974789e+07,213.127016,105398.938508,994046.717540,45198.036895,146945.564516,2.685333e+06,1.786754e+06,72172.379032,8452.620968
Low,1456.935484,75.080645,1003.0,2014-10-31 22:48:00,1.445570e+07,103.132258,150862.165766,623692.979839,26693.304194,128219.758065,1.890916e+06,1.883634e+06,70481.854839,15864.919355

In [9]:
df.groupby('Client Type')[['Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].mean()

,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5
Client Type,,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,2014-12-31 18:00:00.000000000,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368
Medium Facility,3940.761905,202.857143,1003.0,2014-12-31 18:00:00.000000000,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524
Private Facility,400.727273,20.454545,1003.0,2014-12-31 18:00:00.000000000,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091
Small Facility,422.514286,21.285714,1003.0,2014-12-31 17:59:59.999999744,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286

In [10]:
df_corr = df[['Number of Customers', 'Montly Target', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Month', 'Year']]

df_corr.corr()[['Amount Collected']]

                     Amount Collected
Number of Customers          0.607496
Montly Target                0.608204
Calendardate                 0.317608
Amount Collected             1.000000
Unit Sold                    0.997515
Campaign (Email)             0.248235
Campaign (Flyer)             0.444337
Campaign (Phone)             0.034858
Sales Contact 1              0.277478
Sales Contact 2              0.552112
Sales Contact 3              0.357887
Sales Contact 4              0.236165
Sales Contact 5              0.095795
Month                        0.139425
Year                         0.286194

#### Correlation Analysis

In [11]:
cm = sns.light_palette("green", as_cmap=True)
correlation_analysis = pd.DataFrame(df[['Amount Collected',
'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()

correlation_analysis.columns = ['Impacting Variable', 'Degree of Linear Impact (Correlation Coefficient)']
correlation_analysis = correlation_analysis[correlation_analysis['Impacting Variable']!='Amount Collected']
correlation_analysis = correlation_analysis.sort_values(by='Degree of Linear Impact (Correlation Coefficient)', ascending=False)
correlation_analysis.style.background_gradient(cmap=cm).format(precision=2)

#### Market Strategy Impact on Sales (Broken by different account type)

In [12]:
correlation_analysis=pd.DataFrame(df.groupby('Client Type')[['Amount Collected',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis=correlation_analysis.sort_values(['Client Type','Amount Collected'],ascending=False)
correlation_analysis.columns=['Acc Type','Variable Impact on Sales','Impact']
correlation_analysis=correlation_analysis[correlation_analysis['Variable Impact on Sales']!='Amount Collected'].reset_index(drop=True)
correlation_analysis.style.background_gradient(cmap=cm).format(precision=2)

In [13]:
import statsmodels.formula.api as smf
df.columns=[mystring.replace(' ', '_') for mystring in df.columns]
df.columns=[mystring.replace('(', '') for mystring in df.columns]
df.columns=[mystring.replace(')', '') for mystring in df.columns]
results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5',data=df).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Wed, 18 Sep 2024   Prob (F-statistic):               0.00
Time:                        14:16:46   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
Campaign_Email      0.7932      0.597      1.329      0.184      -0.377       1.963
Campaign_Flyer      3.3376      0.260     12.831      0.000       2.828       3.848
Campaign_Phone      0.0734      1.053      0.070      0.944      -1.991       2.137
Sales_Contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
Sales_Contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
Sales_Contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
Sales_Contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
Sales_Contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
strategy_impact = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5548\3305506025.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  strategy_impact = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0]

In [15]:
strategy_impact =strategy_impact .reset_index()
strategy_impact =strategy_impact [strategy_impact ['P>|t|']<0.05][['index','coef']]
strategy_impact

             index          coef
0        Intercept  1.481000e+06
2   Campaign_Flyer  3.337600e+00
4  Sales_Contact_1  4.236800e+00
5  Sales_Contact_2  3.638200e+00
6  Sales_Contact_3  2.343200e+00
7  Sales_Contact_4  1.094780e+01

#### Regression Analysis (Market Sales and Strategies) - Broken for different account types

In [16]:
df_g = df.copy()
df_g.columns

Index(['Client_ID', 'Client_Type', 'Number_of_Customers', 'Montly_Target',
       'Zip_Code', 'Calendardate', 'Amount_Collected', 'Unit_Sold',
       'Campaign_Email', 'Campaign_Flyer', 'Campaign_Phone', 'Sales_Contact_1',
       'Sales_Contact_2', 'Sales_Contact_3', 'Sales_Contact_4',
       'Sales_Contact_5', 'Number_of_Competition', 'Month', 'Year'],
      dtype='object')

In [17]:
consolidated_summary=pd.DataFrame()
for acctype in list(set(list(df_g['Client_Type']))):
    temp_data=df_g[df_g['Client_Type']==acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5', data=temp_data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
    df=df[df['P>|t|']<0.05][['index','coef']]
    df.columns=['Variable','Coefficent (Impact)']
    df['Account Type']=acctype
    df=df.sort_values('Coefficent (Impact)',ascending=False)
    df=df[df['Variable']!='Intercept']
    print(acctype)
    consolidated_summary = pd.concat([consolidated_summary, df], ignore_index=True)
    print(df)

Private Facility
          Variable  Coefficent (Impact)      Account Type
5  Sales_Contact_2               6.6223  Private Facility
Small Facility
          Variable  Coefficent (Impact)     Account Type
5  Sales_Contact_2             0.810100  Small Facility
3   Campaign_Phone             0.000001  Small Facility
Medium Facility
          Variable  Coefficent (Impact)     Account Type
2   Campaign_Flyer               4.1059  Medium Facility
5  Sales_Contact_2               3.5778  Medium Facility
4  Sales_Contact_1               3.1365  Medium Facility
6  Sales_Contact_3               2.1174  Medium Facility
Large Facility
          Variable  Coefficent (Impact)     Account Type
4  Sales_Contact_1              11.6731  Large Facility
7  Sales_Contact_4              10.6145  Large Facility
5  Sales_Contact_2               4.0031  Large Facility
2   Campaign_Flyer               2.7204  Large Facility
6  Sales_Contact_3               2.0316  Large Facility
3   Campaign_Phone              -3.5361  Large Facility

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5548\2418645590.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
C:\Users\Administrator\AppData\Local\Temp\ipykernel_5548\2418645590.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
C:\Users\Administrator\AppData\Local\Temp\ipykernel_5548\2418645590.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
C:\Users\Administrator\AppData\Local\Temp\ipykernel_5548\2418645590.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()

### 5. Final Recommendations

Using the below table we can use the coefficent to see how much return we can derive from each dollar we spend, here we can clearly see that for different account type different Campaigns and Different Sales Contact are effective with different extend. 

<b>Case Explanation - Medium Facility </b><br>
For Example Medium Facility shows decent results with Flyer Campiagns and each dollar spend return 4 dollars on average. Sales Contact 2 is highly effective followed by Sales Contact 1 and Sales Contact 3. Else all other strategy shows no impact can be dropped to save cost.

In [18]:
consolidated_summary

           Variable  Coefficent (Impact)      Account Type
0   Sales_Contact_2             6.622300  Private Facility
1   Sales_Contact_2             0.810100   Small Facility
2    Campaign_Phone             0.000001   Small Facility
3    Campaign_Flyer             4.105900   Medium Facility
4   Sales_Contact_2             3.577800   Medium Facility
5   Sales_Contact_1             3.136500   Medium Facility
6   Sales_Contact_3             2.117400   Medium Facility
7   Sales_Contact_1            11.673100   Large Facility
8   Sales_Contact_4            10.614500   Large Facility
9   Sales_Contact_2             4.003100   Large Facility
10   Campaign_Flyer             2.720400   Large Facility
11  Sales_Contact_3             2.031600   Large Facility
12   Campaign_Phone            -3.536100   Large Facility

In [19]:
consolidated_summary.reset_index(inplace=True)
consolidated_summary.drop('index',inplace=True,axis=1)

In [20]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary['Return on Investment']= consolidated_summary['Return on Investment'].apply(lambda x: round(x,1))
consolidated_summary.style.background_gradient(cmap='RdYlGn')

In [21]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary.style.background_gradient(cmap='RdYlGn').format({'Return on Investment': '$ {:.1f}'}, precision=1)

In [22]:
consolidated_summary.to_csv('consolidated_summary.csv')